.draw-body {
    background-color: black;
    width: 220px;
    color: white;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 10px;
}

.draw-head {
    padding: 10px;
}

.draw-center {
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: -5%;

}

.draw-footer {
    padding: 10px;
    border: 2px solid red;
}

.search {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
}

.draw-menu-btn {
    background-color: transparent !important;
    width: 40% !important;
    font-size: small !important;
    color: rgb(188, 185, 185) !important;
    border: none !important;
    outline: none !important;

}

.draw-menu-btn:focus {
    background-color: white !important;
    color: rgb(0, 0, 197) !important;
}

.draw-nav {
    display: flex;
    /* flex-wrap: wrap; */
    width: 10px !important;
    flex-direction: row;
    border: 1px solid rgb(234, 227, 214);
    width: max-content !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
    padding: 2px !important;
}

.version-btn {
    width: max-content !important;
    height: max-content !important;
    padding: 3px !important;
    font-size: x-small !important;
    font-weight: bold !important;
    border-radius: 10% !important;
}

.version-list {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
}

.main-list {
    list-style-type: none !important;
}

.main-list>li {
    margin-top: 10px;
    /* border: 2px solid pink; */
    padding: 4px;
    margin-left: -25px;
}

.main-list>li:hover {
    color: rgb(255, 187, 0);
}

.menu-icon {
    margin-right: 10px;
}

.list-head {
    color: gray;
}

.list-head:hover {
    color: gray !important;
}

.card-title {
    color: black;
    display: flex;
    font-size: medium !important;
    font-weight: 400 !important;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid rgb(255, 65, 65);
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 0%;
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    .draw-body {
        width: 80px;
    }
}